@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*{
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
}

:root {
  --primary: #112431;
  --primary-white: #142B3B;
  --secondary: #efefef;
  --show: #E4BD8C;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: var(--primary);
}

::-webkit-scrollbar-thumb{
  background: var(--primary-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--show);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: "Inria Sans";
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden; /* Evita rolagem horizontal */
  }
}


/* *** GERAL *** */

span{
  color: var(--show);
}

.button-contact{
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.gold{
  background-color: var(--show);
  color: var(--primary);
}

.blue{
  background-color: var(--primary-white);
}

.container-title {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-left: 7rem;
}

.container-title h3 {
  color: var(--show);
  margin: 0;
  margin-top: 50px;
  font-size: 1rem;
}

.container-title h1 {
  color: var(--text);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .container-title {
    margin-left: 2rem;
    gap: 1rem;
  }

  .container-title h3 {
    font-size: 0.875rem; /* Ajuste do tamanho da fonte para melhor legibilidade */
    margin-top: 50px; /* Redução da margem superior */
  }

  .container-title h1 {
    font-size: 2rem; /* Ajuste do tamanho da fonte para melhor legibilidade */
    margin-top: 5px; /* Redução da margem superior */
    margin-bottom: 50px; /* Redução da margem inferior */
  }
}

h2{
  font-weight: 300;
}

/*INICIO HEADER*/

header{
  display: flex;
  height: 8rem;
}

.header-list{
  margin-left: 15%;
  margin-top: 30px;
}

.list{
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.list ul li a:visited {
  color: inherit;
}

li{
  margin: 1rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }

  header img{
    display: none;
  }

  .header-list {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  ul{

  }

  .list {
    flex-direction: column;
    align-items: center;
  }


}



/*INICIO SESSÃO 01*/

.section-01{
  background-color: rgba(0, 0, 0, 0.76);
  background-image: url("../assets/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.content-overlay{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.container-title-01 h1{
  font-size: 30pt;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .section-01 {
    height: auto;
    padding: 20px;

  }

  .container-logo img{
    width: 350px;
  }

  .content-overlay {
    flex-direction: column;
    gap: 2rem;
  }

  .container-title-01{
    text-align: center;
    margin-bottom: 50px;
  }

  .container-title-01 h1{
    font-size: 24pt;
    text-align: center;
  }
}

/*INICIO SESSAO 02*/

.section-02 .container-contact{
  margin-top: 10px;
  text-align: center;
}

.container-slides {
  margin: 1rem 0;
  padding: 0 2rem;
  background: var(--primary-white);
}

.container-slides .glide__slide {
  border-right: 2px solid rgba(255, 255, 255, 0.342);
  flex: 1;
  padding: 1rem;
  transition: 0.2s;
  height: 200px;
}

.container-slides .glide__slide:hover {
  transform: scale(1.02);
}

ul.glide__slides {
  padding: 0.5rem 0;
  align-items: center;
}

.glide-arrow{
  display: flex;
  justify-content: center;
}

.glide__arrow{
  
  background-color: var(--primary-white);
  border: none;
  margin-right: 5px;
  margin-bottom: 0;
}

.glide__arrow:hover{
  cursor: pointer;
  transform: scale(1.10);
  border-radius: 10px;
}

.inform{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.container-contact-slide {
  margin-top: 30px;
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .container-slides .glide__slide{
    border: none;
  }
}


/*INICIO SESSAO 03*/

.section-03 .content-about{
  text-align: center;
  background-color: var(--primary-white);
  border-radius: 60px;
  height: 400px;
  max-width: 70%;
  margin-left: 35vh;
  margin-bottom: 50px;
}

.content-about p{
  font-size: 20px;
  padding-top: 50px;
  margin: 0px 50px 50px 50px;
}

.container-about .button-contact{
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .section-03 .content-about {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
  }

  .content-about p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 10px 10px 10px;
  }

  .container-about .button-contact {
    width: 100%;
    padding: 10px;
  }
}


/*INICIO SESSAO 04*/

.section-04{
  background-color: var(--primary-white);
  
}

.content-loc{
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

iframe{
  border-radius: 40px;
  margin-right: 20px;
}

.endereco .container-contact{
  margin-top: 50px;
}

@media (max-width: 768px) {
  .section-04 {
    padding-bottom: 20px;
  }

  .content-loc {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }

  iframe {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%; /* Ajusta a largura para se adaptar à tela menor */
    text-align: center;
  }

  .endereco .container-contact {
    margin-top: 30px;
    text-align: center;
  }
}

/*INICIO FOOTER*/

footer{
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}