@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --primary: #112431;
  --primary-white: #142B3B;
  --secondary: #efefef;
  --show: #E4BD8C;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: var(--primary);
}

::-webkit-scrollbar-thumb{
  background: var(--primary-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--show);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: "Inria Sans";
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 auto;
}

span{
  color: var(--show);
}

.button-contact{
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.gold{
  background-color: var(--show);
  color: var(--primary);
}

.blue{
  background-color: var(--primary-white);
}

/*INICIO HEADER*/

header{
  display: flex;
  height: 8rem;
}

header img{
  position: absolute;
}

.header-list{
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

li{
  margin: 1rem;
}

/*INICIO SESSÃO 01*/

.section-01{
  background-color: rgba(0, 0, 0, 0.795);
  background-image: url("../assets/img/banner.png");
  height: 100vh;
  display: flex;
}

.content-overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.671);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}