@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --primary: #112431;
  --primary-white: #142B3B;
  --secondary: #efefef;
  --show: #E4BD8C;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: var(--primary);
}

::-webkit-scrollbar-thumb{
  background: var(--primary-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--show);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: "Inria Sans";
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 auto;
}

/* *** GERAL *** */

span{
  color: var(--show);
}

.button-contact{
  text-decoration: none;
  color: inherit;
  padding: 0.7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.gold{
  background-color: var(--show);
  color: var(--primary);
}

.blue{
  background-color: var(--primary-white);
}

.container-title {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-left: 7rem;
}

.container-title h3 {
  color: var(--show);
  margin: 0;
  margin-top: 50px;
  font-size: 1rem;
}

.container-title h1 {
  color: var(--text);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 3rem;
}


/*INICIO HEADER*/

header{
  display: flex;
  height: 8rem;
}

header img{
  position: absolute;
}

.header-list{
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

li{
  margin: 1rem;
}

/*INICIO SESSÃO 01*/

.section-01{
  background-color: rgba(0, 0, 0, 0.795);
  background-image: url("../assets/img/banner.png");
  height: 100vh;
  display: flex;
}

.content-overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.671);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

/*INICIO SESSAO 02*/

.section-02 .container-contact{
  margin-top: 10px;
  text-align: center;
}

/*INICIO SESSAO 03*/

.section-03 .content-about{
  text-align: center;
  background-color: var(--primary-white);
  border-radius: 30px;
  height: 400px;
  max-width: 70%;
  margin-left: 35vh;
  margin-bottom: 50px;
}

.content-about p{
  margin: 30px;
  font-size: 20px;
}

.container-about .button-contact{
  background-color: var(--primary);
}

/*INICIO SESSAO 04*/

.section-04{
  background-color: var(--primary-white);
  
}

.content-loc{
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

iframe{
  border-radius: 40px;
  margin-right: 20px;
}

.endereco .container-contact{
  margin-top: 50px;
}

/*INICIO FOOTER*/

footer{
  text-align: center;
}